<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">CallumCoder</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home<span *ngIf="this.router.url.includes('home')" class="sr-only">(current)</span> </a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="calendar">Calendar<span *ngIf="this.router.url.includes('calendar')" class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a href="/program" class="nav-link" *ngIf="isLoggedIn" routerLink="program/weeklyProgram">Program<span *ngIf="this.router.url.includes('weeklyProgram')" class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a href="/workout" class="nav-link" *ngIf="isLoggedIn" routerLink="workout">Workout
          <span *ngIf="this.router.url.includes('workout')" class="sr-only">
            (current)
          </span>
        </a>
      </li>
      <li *ngFor="let navItem of this.navbarService.extraLinks">
        <a class="nav-link" *ngIf="isLoggedIn" >
          <a routerLink="{{navItem.path}}">
            <span>{{navItem.text}}
              <span *ngIf="this.router.url.includes(navItem.path)" class="sr-only">
                (current)
              </span>
            </span>
          </a>
          <a (click)="removeNavItem(navItem.text)">
            <span class="fa fa-close"></span>
          </a>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

