<div class="row">
  <div class="col-9">
    <table class="table">
      <thead>
      <tr>
        <th *ngFor="let item of routines; let i = index;" class="weekdayHeader">
          #{{i + 1}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td *ngFor="let routine of routines; let i = index;">
          <button class="btn bg-light" [class.focus]="selectedIndex == i"  [class.fa]="canAddRoutine(i)" [class.fa-plus]="canAddRoutine(i)" [class.disabled]="!canAddRoutine(i) && routine == null" (click)="selectedIndex = i">
            {{routine}}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-3">
    <div class="row">
      <div class="col-5">
        <label>starts on </label>
      </div>
      <div class="col-7">
        <input type="date">
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <label>workout every </label>
      </div>
      <div class="col-4">
        <select style="width: 65px" class="form-select" aria-label="Default select example">
          <option selected> </option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
      <div class="col-3">
        <span>day(s)</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-9">
    <app-routine-visualizer [routineType]="routineType" [routineService]="routineService"></app-routine-visualizer>
  </div>
  <div class="col-3">
    <div class="row m-2">
      <a [href]="'/addEditRoutine/' + routineType" class="btn btn-primary">Edit</a>
    </div>
    <div class="row m-2">
      <button class="btn btn-primary fa fa-trash" (click)="removeRoutine()"></button>
    </div>
  </div>
</div>
