<div class="fp">
  <ul>
    <li *ngFor="let item of routines; let i = index;" class="weekdayHeader">
      <div class="scrolling-wrapper-flexbox">
        <app-routine-card (remove)="removeRoutine(item.id)" [id]="item.id" [title]="item.name" [image]="'https://static8.depositphotos.com/1049680/1017/i/450/depositphotos_10171107-stock-photo-strong-biceps.jpg'" ></app-routine-card>
      </div>
    </li>
    <li class="btnplus">
      <button class="btn bg-light fa fa-plus" (click)="open(mymodal)"> </button>
    </li>
  </ul>
  <div class="fp-choices">
    <div class="row">
      <div class="col-6 col-sm-1">
        <label>start on </label>
      </div>
      <div class="col-6 col-sm-1">
        <input type="date">
      </div>
      <div class="w-100"></div>
      <div class="col-6 col-sm-1">
        <label>repeat </label>
      </div>
      <div class="col-6 col-sm-1">
        <select style="width: 65px" class="form-select" aria-label="Default select example">
          <option selected> </option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
      <div class="col-6 col-sm-1">
        <span>day(s)</span>
      </div>
    </div>
  </div>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    Select routine
  </div>

  <div class="modal-content">
    <ul>
      <li *ngFor="let tmpRoutine of tmpRoutines" (click)="tmpSelect(tmpRoutine)">
        <button class="btn">{{tmpRoutine.name}}</button>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
