<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
      <tr>
        <th *ngFor="let day of weekDays; let i = index;" class="weekdayHeader">
          {{day}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td *ngFor="let routine of routines; let i = index;">
          <button class="btn bg-light" [class.focus]="selectedWeekDay == i" [class.fa]="routine == null" [class.fa-plus]="routine == null" (click)="selectedWeekDay = i">
            {{routine}}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-9">
    <app-routine-visualizer [routineType]="routineType" [routineService]="routineService"></app-routine-visualizer>
  </div>
  <div class="col-3">
    <div class="row m-2">
      <a [routerLink]="['/addEditRoutine', routineType]" routerLinkActive="active" class="btn btn-primary">Edit</a>
    </div>
    <div class="row m-2">
      <button class="btn btn-primary fa fa-trash" (click)="removeRoutine()"></button>
    </div>
  </div>
</div>
