<div class="row ">
    <div class="container routineContainer mb-5">
      <div class="row routine">
        <div class="col-12 text-center bg-success title pb-1 pt-1" >
          Routine name
        </div>
        <div class="col text-center exercise">
          <div style="height: 100%" class="row">
            <div class="col-9 bg-primary  pb-5 pt-5">
              Exercise
            </div>
            <div class="col-3 bg-secondary  pb-5 pt-5">
              Rest
            </div>
          </div>
        </div>
        <div class="col text-center exercise">
          <div style="height: 100%" class="row">
            <div class="col-9 bg-primary pb-5 pt-5">
              Exercise
            </div>
            <div class="col-3 bg-secondary pb-5 pt-5">
              Rest
            </div>
          </div>
        </div>
        <div class="col text-center exercise">
          <div style="height: 100%" class="row">
            <div class="col-9 bg-primary pb-5 pt-5">
              Exercise
            </div>
            <div class="col-3 bg-secondary pb-5 pt-5">
              Rest
            </div>
          </div>
        </div>
        <div class="col text-center exercise">
          <div style="height: 100%" class="row">
            <div class="col-9 bg-primary pb-5 pt-5">
              Exercise
            </div>
            <div class="col-3 bg-secondary pb-5 pt-5">
              Rest
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

