<div class="row">
    <div class="container routineContainer mb-5">
      <div class="row routine">
        <div class="col-12 text-center bg-success title pb-1 pt-1" >
          {{routine.name}}
        </div>
        <div *ngFor="let exercise of exercises" class="col text-center exercise">
          <div style="height: 100%" class="row">
            <div class="col-9  pb-5 pt-5" style="{{'background-color: ' + exercise.exerciseColor}}">
              {{exercise.name}}
            </div>
            <div class="col-3 pb-5 pt-5" style="{{'background-color: ' + exercise.breakColor}}">
              Rest
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!--ng-template #mymodal let-modal>
  <div class="modal-header">
    Select exercise
  </div>

  <div class="modal-content">
    <ul>
      <li *ngFor="let routineOption of availableRoutines" (click)="tmpSelect(routineOption)">
        <button class="btn">{{routineOption}}</button>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template-->
