<div class="row">
    <div class="container routineContainer mb-5" [class.focused]="focusedRoutine?.id == routine.id">
      <div class="row routine">
        <div class="col-12 text-center title pb-1 pt-1" style="{{'background-color: ' + routine.color}}">
          {{routine.name}}
        </div>
        <div *ngFor="let exercise of exercises" class="col text-center exercise">
          <div style="height: 100%" class="row">
            <div class="col-9  pb-5 pt-5" style="{{'background-color: ' + exercise.exerciseColor}}">
              {{exercise.name}}
            </div>
            <div class="col-3 pb-5 pt-5" style="{{'background-color: ' + exercise.breakColor}}">
              Rest
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
