<div class="container">
  <div class="jumbotron row justify-content-center">
    <div class="row mb-5">
        <div class="col-2">
        <select class="form-select" aria-label="routine selector" [value]="selectedRoutine">
          <option *ngFor="let routine of availableRoutines; let i = index" value="{{routine}}">{{routine.name}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <app-routine-visualizer [routine]="selectedRoutine"></app-routine-visualizer>
    </div>
    <div class="row">
      <div class="col-2">
        <countdown #cd [config]="config" (event)="handleEvent($event)"></countdown>
      </div>
      <div class="col-8">
        <div>
          <button (click)="cd.pause()" class="btn btn-link btn-sm">pause</button>
          <button (click)="cd.resume()" class="btn btn-link btn-sm">resume</button>
          <button (click)="cd.stop()" class="btn btn-link btn-sm">stop</button>
          <button (click)="cd.restart()" class="btn btn-link btn-sm">restart</button>
        </div>
      </div>
    </div>
  </div>
</div>
