<div class="container">
  <div class="jumbotron row justify-content-center">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="row">

      <div class="col-6">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-3">
            <label>name</label>
          </div>
          <div class="col-8">
            <input type="text" [attr.value]="selectedExercise.name">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-1"></div>
          <div class="col-3">
            <label>time</label>
          </div>
          <div class="col-8">
            <input type="time" [attr.value]="selectedExercise.exerciseDuration">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-1"></div>
          <div class="col-3">
            <label>reps</label>
          </div>
          <div class="col-8">
            <input type="time" [attr.value]="selectedExercise.repetitions">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-1"></div>
          <div class="col-3">
            <label>rest</label>
          </div>
          <div class="col-8">
            <input type="time" [attr.value]="selectedExercise.restDuration">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-1"></div>
          <div class="col-3">
            <label>Exercise color</label>
          </div>
          <div class="col-8">
            <input type="color" [attr.value]="selectedExercise.exerciseColor">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-1"></div>
          <div class="col-3">
            <label>Rest color</label>
          </div>
          <div class="col-8">
            <input type="color" [attr.value]="selectedExercise.restColor">
          </div>
        </div>
        <!--div class="row mt-3">
          <div class="col-1"></div>
          <div class="col-3">
            <label>video link : </label>
          </div>
          <div class="col-7">
            <input type="text" style="width: 100%" [attr.value]="selectedExercise.illustrationLocation"/>
          </div>
          <div class="col-1"></div>
        </div-->
        <div class="row mt-3">
          <div class="col-1"></div>
          <div class="col-3">
            <label>Illustration : </label>
          </div>
          <div class="col-8">
            <input type="text" [attr.value]="selectedExercise.illustrationLocation"/>
          </div>
        </div>
      </div>

      <!--div class="col-6">
        <div class="row">
          <div class="iframeContainer">
            <iframe class="myIframe p-2"
                    src="https://www.youtube.com/embed/acp77RhVzMM"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
            >
              <p>yoyo</p>
            </iframe>
          </div>
        </div>
      </div-->
    </div>
      <button type="submit" [disabled]="!userForm.form.valid"
                  class="btn btn-info">Submit</button>
      </form>
  </div>
</div>

