.nav-link{
  height: 100%;
  border: 3px solid transparent;
}

.nav-item{
  height: 25%;
}

.navbar-nav{
  height: 100%;
}

.active{
  font-weight: bold;
  border-color: lightgray;
}

.editable{
  border:none;
  outline:none;
  background:transparent;
  width: 100%;
  text-align: center;
}

li {
  list-style-type: none;
}

