<div class="container">

  <div class="jumbotron row justify-content-center">
    <div class="row w-100">
      <nav class="navbar bg-light col-2">
        <ul class="navbar-nav mr-auto" routerLinkActive="active" >
          <li class="nav-item">
            <a  href="/weeklyProgram" class="nav-link" routerLink="weeklyProgram">Weekly</a>
          </li>
          <li class="nav-item">
            <a  href="/frequencyProgram" class="nav-link" routerLink="frequencyProgram">Frequency</a>
          </li>
        </ul>
      </nav>
      <div class="container bg-white col-10">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="row mt-5 w-100">
      <div class="col-8 pt-3 pb-3 bg-white ">
        <app-routine-visualizer></app-routine-visualizer>
      </div>
      <div class="col-4 pt-3 pb-3 bg-white ">
        <input type="date">

        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <button type="button" class="btn btn-primary">Edit</button>
      </div>
    </div>
  </div>
</div>
