<div class="container">
  <div class="jumbotron row justify-content-center" style="max-height: 760px">
    <div class="row m-2">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="card">
          <div class="card-header">
            Routines list
          </div>
          <div class="card-body">
            <div class="scrollable">
              <ul class="list-group list-group-flush" style="list-style-type:none;">
                <li *ngFor="let routine of routines">
                  <div class="row">
                    <div class="col-11">
                      <app-routine-visualizer [routine]="routine"></app-routine-visualizer>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row m-2">
      <div class="col-8"></div>
      <div class="col-1">
        <a class="btn btn-secondary">
          <span class="fa fa-plus"></span>
        </a>
      </div>
      <div class="col-1">
        <a class="btn btn-secondary"><span class="fa fa-edit"></span></a>
      </div>
      <div class="col-1">
        <a class="btn btn-secondary"><span class="fa fa-trash"></span> </a>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</div>
