<div class="container">
  <div class="jumbotron row justify-content-center">
    <div class="bg-white col-8">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
    <div class="col-2">
        <div class="row">
          <div class="input-group">
            <input name="selectedDateTime" type="text" class="form-control" placeholder="Today 5pm" readonly>
          </div>
        </div>
        <div class="row mt-3">
          <div class="input-group">
            <button name="selectedRoutine" type="button" class="btn btn-secondary">
              Upper body <span class="fa fa-play"></span>
            </button>
          </div>
        </div>
    </div>
    <div class="col-1">
      <div class="d-flex justify-content-center">
        <button name="addRoutine" type="button" class="btn btn-secondary ml-1 mr-1">
          <span class="fa fa-plus"></span>
        </button>
        <button name="removeRoutine" type="button" class="btn btn-secondary ml-1">
          <span class="fa fa-trash"></span>
        </button>
      </div>
    </div>
  </div>
</div>
