<div class="container">
  <div class="jumbotron row justify-content-center">
    <div class="row">
      <div class="col-12">
        <app-routine-visualizer></app-routine-visualizer>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="row">
          <div class="col-4">
            <label>name</label>
          </div>
          <div class="col-8">
            <input type="text">
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label>time</label>
          </div>
          <div class="col-8">
            <input type="time">
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label>reps</label>
          </div>
          <div class="col-8">
            <input type="time">
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label>template</label>
          </div>
          <div class="col-8">
            <input type="text">
          </div>
        </div>
      </div>
      <div class="col-2"></div>
      <div class="col-5">
        <div class="row">
          <div class="col-4">
            <label>color</label>
          </div>
          <div class="col-8">
            <input type="color">
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label>rest</label>
          </div>
          <div class="col-8">
            <input type="time">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
