<div class="container">
  <div class="jumbotron row justify-content-center">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row ">
          <div class="container routineContainer mb-5">
            <div class="row routine">
              <div class="col-12 text-center title pb-1 pt-1" >
                {{selectedRoutine.name}}
              </div>
              <div class="col text-center exercise" [class.focused]="this.selectedExercise == exercise" *ngFor="let exercise of exercises; let i = index">
                <div class="row pointer" [id]="exercise" (click)="select(exercise)">
                  <div class="col-9 pb-5 pt-5 pointer activity">
                    <span>{{exercise.name}}</span>
                  </div>
                  <div class="col-3 pb-5 pt-5 pointer rest">
                    Rest
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1 ">
        <div class="row mb-2">
          <a class="btn btn-secondary"  (click)="open(mymodal)">
            <span class="fa fa-plus"></span>
          </a>
        </div>
        <div class="row mb-2">
          <a class="btn btn-secondary" [routerLink]="['/addEditExercise', this.selectedExercise]" [class.disabled]="this.selectedExercise == emptyExercise">
            <span class="fa fa-edit" style="color:black;"></span>
          </a>
        </div>
        <div class="row">
          <a class="btn btn-secondary" (click)="removeSelectedExercise()" [class.disabled]="this.selectedExercise == emptyExercise">
            <span class="fa fa-trash" style="color:black;"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    Select exercise
  </div>

  <div class="modal-content">
    <ul>
      <li *ngFor="let availableExercise of availableExercises" (click)="tmpSelect(availableExercise)">
        <button class="btn">{{availableExercise.name}}</button>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
